<h1 class="capitalize text-primary font-light"><i class="fa-light fa-pen mr-2"></i>Edit Category</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="flex">
        <div class="flex flex-column gap-5">
            <div class="flex flex-column p-field">
                <span class="p-float-label p-input-icon-left">
                    <i class="fa-light fa-file-signature"></i>
                    <input id="name" type="text" pInputText formControlName="name">
                    <label for="float-input">Name</label>
                </span>
                <small *ngIf="name?.hasError('required') && (name?.dirty || name?.touched )" class="p-error">
                    Please enter a name
                </small>
            </div>
            <div class="flex flex-column p-field">
                <span class="p-float-label p-input-icon-left">
                    <i class="fa-light fa-memo-circle-info"></i>
                    <input id="description" type="text" pInputText formControlName="description">
                    <label for="float-input">Description</label>
                </span>
                <small *ngIf="description?.hasError('required') && (description?.dirty || description?.touched )"
                    class="p-error">
                    Please enter a description
                </small>
            </div>
            <div class="flex flex-column p-field">
                <span class="p-float-label p-input-icon-left">
                    <p-dropdown [options]="priorities" formControlName="priority" placeholder="Select a priority">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'category-badge priority-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                    <label for="float-input">Priority</label>
                </span>

            </div>
            <div class="flex flex-column p-field" *ngIf="(subcategories$ | async) as subcategories">
                <span class="p-listbox-label">Subcategories</span>
                <p-listbox [options]="subcategories" [metaKeySelection]="false" [checkbox]="true" [filter]="true"
                    [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}"
                    formControlName="subcategories" filterPlaceHolder="Search subcategories" class="pt-2">
                    <ng-template let-subcategory pTemplate="item">
                        <div class="country-item">
                            <div>{{subcategory.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>

            <button type="submit" pButton label="Save" style="width:100%;" [disabled]="!form.valid"
                class="p-button-outlined"></button>
        </div>
    </div>
</form>