.user-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.role-admin {
    background-color: #c8e6c9;
    color: #256029;
}

.role-user {
    background-color: #ffd8b2;
    color: #805b36;
}

:host ::ng-deep .p-paginator .p-paginator-current {
    margin-left: auto;
}