:host ::ng-deep input {
    width: 25rem;
}

:host ::ng-deep .p-dropdown {
    width: 25rem;
}

:host ::ng-deep .p-listbox {
    width: 35rem;
}

.p-listbox-label {
    font-size: 12px;
    color: #010102;
    margin-left: 2.5rem;
    margin-top: -.75rem;
}

.subcategory-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.priority-low {
    background-color: #c8e6c9;
    color: #256029;
}

.priority-medium {
    background-color: #ffd8b2;
    color: #805b36;
}

.priority-high {
    background-color: #ffcdd2;
    color: #c63737;
}