<button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create Product" class="p-button-outlined"
    style="margin-top: 1em" [routerLink]="'/products/create'"></button>
<div *ngIf="(products$ | async) as products" style="margin-top: 1em">
    <p-table #dt [value]="products" [(selection)]="selectedProducts" styleClass="p-datatable-customers"
        [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <div class="flex justify-content-between">
                    <div class="align-self-center">List of Products</div>
                    <div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #textInput (input)="applyFilterGlobal($event, 'contains')"
                                placeholder="Search" />
                        </span>
                    </div>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">
                    <div class="flex justify-content-between align-items-center">
                        Id
                        <p-sortIcon field="id"></p-sortIcon>
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="name">
                    <div class="flex justify-content-between align-items-center">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="price">
                    <div class="flex justify-content-between align-items-center">
                        Price
                        <p-sortIcon field="price"></p-sortIcon>
                        <p-columnFilter type="number" field="price" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="category">
                    <div class="flex justify-content-between align-items-center">
                        Category
                        <p-sortIcon field="category"></p-sortIcon>
                        <p-columnFilter type="text" field="category" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="subcategories">
                    <div class="flex justify-content-between align-items-center">
                        Subcategories
                        <p-sortIcon field="subcategories"></p-sortIcon>
                        <p-columnFilter type="text" field="subcategories" display="menu" class="ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th style="width: 8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category.name}}</td>
                <td>{{product.subcategories?.length}}</td>
                <td class="flex gap-2" style="text-align: center">
                    <button pButton type="button" class="p-button-outlined" icon="pi pi-info"
                        [routerLink]="['details', product.id]"></button>
                    <button pButton type="button" class="p-button-outlined" icon="pi pi-pencil"
                        [routerLink]="['edit', product.id]"></button>
                    <button pButton type="button" class="p-button-outlined" icon="pi pi-trash"
                        [routerLink]="['delete', product.id]"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>