<h1 class="capitalize text-primary font-light"><i class="fa-light fa-trash mr-2"></i>Category Delete</h1>
<div *ngIf="(category$ | async) as category" class="grid">
    <div class="col-6">
        <p-card header="{{category.name}}" subheader="{{category.description}}" styleClass="p-card-shadow">
            <span [class]="'category-badge category-badge priority-' + category.priority">{{category.priority}}</span>
            <p class="font-italic">List of subcategories</p>
            <p-listbox [options]="category.subcategories!" optionLabel="name" optionDisabled="inactive" [filter]="true"
                [readonly]="true" filterPlaceHolder="Search">
            </p-listbox>
            <ng-template pTemplate="footer">
                <button pButton label="Delete" style="width:100%;" class="p-button-outlined p-button-danger"
                    (click)="onDelete()"></button>
            </ng-template>

        </p-card>
    </div>
</div>
<p-confirmDialog #cd>
    <ng-template pTemplate="header">
        <h3>Delete resource</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="p-button-outlined"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="p-button-outlined"
            (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>