<h1 class="capitalize text-primary font-light"><i class="fa-light fa-info-circle mr-2"></i>Product Details</h1>
<div *ngIf="(product$ | async) as product" class="grid">
    <div class="col-6">
        <p-card header="{{product.name}}" subheader="{{product.price | currency:'USD'}}" styleClass="p-card-shadow">
            <span class="font-italic">Category</span>
            <p class="font-bold uppercase">{{$any(product).category.name}}</p>
            <p class="font-italic">List of subcategories</p>
            <p-listbox [options]="product.subcategories!" optionLabel="name" optionDisabled="inactive" [filter]="true"
                [readonly]="true" filterPlaceHolder="Search">
            </p-listbox>
        </p-card>
    </div>
</div>